<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dreamlin.coffeeorder"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="貝拉卡煎焙咖啡"
        android:theme="@style/AppTheme" >
        <activity android:name="com.dreamlin.activity.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.dreamlin.activity.AboutMe" >
        </activity>
        <activity android:name="com.dreamlin.activity.KindList" >
        </activity>
        <activity
            android:name="com.dreamlin.activity.Order"
            android:label="請選擇數量後按'返回產品清單'" >
        </activity>
        <activity
            android:name="com.dreamlin.activity.ShopMap"
            android:label="@string/title_activity_shop_map" >
        </activity>
        <activity
            android:name="com.dreamlin.activity.Result"
            android:label="確認產品後請按'寄給商家'" >
        </activity>
        <activity
            android:name="com.dreamlin.activity.DrinkDetail"
            android:label="請選擇數量後按'返回產品清單'" >
        </activity>
        <activity
            android:name="com.dreamlin.adapter.ResultAdapter"
            android:label="@string/title_activity_result_adapter" >
        </activity>
    </application>

</manifest>